.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitButton{
    text-align: center;
}

.labels{
    display: block;
    font-size: larger;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}

.input{
    font-size: larger;
    padding: 5px;
    margin: auto;
    display: block;

    }
.btn{
    background-color: #4CAF50; 
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}